.App {
  text-align: center;
}

button {
  padding: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.nav {
  background-color: orange;
}

.submit {
  background-color: green;
  color: white;
}

.submit:disabled {
  background-color: unset;
  color: unset;
  cursor: not-allowed;
}

.error {
  color: red;
}
